*{
    box-sizing: border-box;
}

.dispBlock{
    display: block;
}

html{
    scroll-behavior: smooth;
}

body, html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg1{
    background-image: url('../images/band-concert-event.jpg');
    min-height: 100%;
}

.pimg2{
    background-image: url('../images/chaos.jpg');
    min-height: 400px;
}

.pimg3{
    background-image: url('../images/adult-audience.jpg');
    min-height: 400px;
}

.pimg4{
    background-image: url('../images/shaking-hands.jpg');
    min-height: 400px;
}

.pimg5{
    background-image: url('../images/band-bokeh.jpg');
    min-height: 400px;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #eee;
    font-family: narkisim;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: capitalize;
}

.ptext .border{
    background-color: #101010;
    padding: 20px;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    font-family: narkisim;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.brand-title a{
    text-decoration: none;
    color: #fff;
}

.brand-title a:hover{
    color: red;
    font-size: 1.7rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: red;
    font-weight: bold;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


section{
    background-color: #101010;
    width: 100%;
    height: auto;
    padding: 2%;
    color: #eee;
} 

section h1{
    margin: 10px;
    text-align: center;
    font-family: narkisim;
}

section p{
    margin: 0;
}

#about p{
    text-align: justify;
}

#aboutImg{
    float: left;
    width: 100%;
    height: auto;
    max-width: 500px;
    margin: 10px;
    margin-right: 20px;
}

#aboutImg:after{
    content: "";
    display: block;
    clear: both;
}

#cardParent{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.card{
    width: 300px;
    border: 2px solid red;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
}

.card img{
    width: 100%;
    height: auto;
}

.card p{
    margin-left: 10px;
    margin-right: 10px;
}

.card a{
    text-decoration: none;
    color: red;
}

.card a:hover, footer a:hover{
    color: #fff;
    font-weight: bold;
}

#showMore{
    border: 2px solid red;
    border-radius: 5px;
    text-decoration: none;
    color: red;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#showMore:hover{
    border: 2px solid #fff;
    color: #fff;
    font-weight: bold;
}

#contact form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contact form div{
    width: 500px;
    margin: 10px;
}

#contact label, 
#contact input[type=text],
#contact input[type=tel]{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#contact label{
    font-family: narkisim;
    font-size: 20px;
}

#contact input[type=text],
#contact input[type=tel]{
    height: 30px;
    width: 500px;
    max-width: 400px;
    margin: 0;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 5px;
    color: #eee;

}

#contact textarea{
    width: 500px;
    height: 185px;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 5px;
    color: #eee;
}

#contact input[type=submit]{
    width: 150px;
    height: 40px;
    float: right;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 5px;
    color: #eee;
    font-family: narkisim;
    font-size: 20px;
}

#contact input[type=submit]:hover{
    border: 2px solid #fff;
    color: #fff;
    font-weight: bold;
}

#contact input[type=submit]:after{
    content: "";
    display: block;
    clear: both;    
}

.shadow{
    text-shadow: 5px 5px 5px black;
}

footer{
    text-align: center;
    color: #eee;
    background-color: #101010;
    margin: 0;
    padding: 1%;
}

footer p{
    margin: 0;
}

footer a{
    text-decoration: none;
    color: red;
}

@media only screen and (max-width: 650px) {

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    #about img{
        display: block;
        float: none;
        margin: 0 auto;
    }

    #about p{
        margin: 10px;
    }

    #contact form div{
        width: 100%;
    }

    #contact input[type=text],
    #contact input[type=tel],
    #contact textarea{
        width: 100%;
    }

} 
